body {
     background-color: #FFA07A;
     text-align: center;

}

p{
color: black;
font-size: 1em;
}

h1, h2{


}

.container{
    width:70%;
    margin: auto;
}

.img_topo{
width: 100%;

}

    .img_corpo{
        width: 60%;
    }